body{
    background-image: url(../images/haikei.jpg);
    margin: 0;
    padding: 0;
}
/* ---------ホームＣＳＳ-----------------　*/
.main-nav{
    display: flex;
    justify-content: center;
    gap: 50px;
    list-style: none;
    font-size: 30px;
}
.main-nav a{
    text-decoration: none;
    color:#5f2a2a;
}
nav a:hover{
    color: #526e9f;
}
.header-text{
    font-family: "WDXL Lubrifont JP N", sans-serif;
    font-weight: 400;
    font-style: normal;

}
.home{
    text-align: center;
}
.homeimage{
    display: flex;
    justify-content: center;
    gap:20px;
}
.rei{
    width:150px;
    height:auto;
}
.title-font{
    font-family: "RocknRoll One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    margin-left:30px;
    margin-top:60px
}
.main-text{
    background-color: #e6ddd3;
    color:#5f2a2a;
    padding: 7px;
    border-radius: 7px;
    text-align: center;
    margin: 0 auto;
    margin-top:100px;
    width:70%;
    font-size: 20px;
}
.font-text{
    font-family: "Kosugi Maru", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.footer{
    margin-top:100px;
    background-color: #ead5c0;
    height:40px;
    display: flex;
    justify-content: center; 
    align-items: center;
}
/* ------おすすめページＣＳＳ--------------------*/
.mrlist{
    display: flex;
    justify-content: center;
    gap:30px;
    margin-left: 30px;
}
.mrlist1-2{
     display: flex;
    justify-content: center;
    gap:30px;
    margin-right: 30px;
}
.mrlist2{
    display: grid;
    margin:10px;
    gap:5px;
}
.mrlist3{
    display: flex;
    justify-content: center;
    gap:50px;
    margin-top:50px;
}
.mrimage{
    width:400px;
    height:auto;
}
.mrimage2{
    width:210px;
    height:auto;
}
.mrimage3{
    width:200px;
    height:auto;
}
.mrimage3-3{
    width:200px;
    height:auto;
    margin-top:10px;
}
.mrdata{
    background-color: #e6ddd3;
    padding: 20px;
    margin:20px;
    height:720px;
    width:1500px;
}
.mrdata2{
    background-color: #e6ddd3;
    padding:20px;
    margin:30px;
    height:290px;
    width:400px;
}
.mrdata3{
    background-color: #e6ddd3;
    padding:20px;
    width:300px;
}

.mrtitle{
    font-family: "Yuji Syuku", serif;
    font-weight: 400;
    font-style: normal;
    font-size:40px;
    margin-top:100px;
}
.mrname{
    font-family: "RocknRoll One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.mrname-1{
    font-family: "RocknRoll One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top:28px;
}
.mrtext{
    color:#5f2a2a;
    background-color: #dccfc0;
    padding:5px;
    border-radius: 7px;
}
.mrfont{
    font-size: 23px;
    font-family: "Kosugi Maru", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.mrfont2{
    font-size:13px;
    font-family: "Kosugi Maru", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.mrfont3{
    font-size:15px;
    font-family: "Kosugi Maru", sans-serif;
    font-weight: 400;
    font-style: normal;
}